<footer class="footer flex">
  <div class="container footer__container flex">
    <div class="footer__copyright">
      <p class="footer__text">© 2018 <span class="footer__text--uppercase">«LoremIpsum.net» </span> Все права защищены.</p>
    </div>
    <ul class="footer__payments flex">
      <li class="footer__payment">
        <img src="img/svg/qiwi.svg" alt="Qiwi Wallet" class="footer__icon">
        <span class="footer__text footer__text-accent-color ">Qiwi wallet</span>
      </li>
      <li class="footer__payment">
        <img src="img/svg/yandex.svg" alt="Yandex Money" class="footer__icon">
        <span class="footer__text footer__text-accent-color ">Yandex Money</span>
      </li>
      <li class="footer__payment">
        <img src="img/svg/web-money.svg" alt="Web Money" class="footer__icon">
        <span class="footer__text footer__text-accent-color ">Web Money</span>
      </li>
    </ul>
    <ul class="footer__contacts flex">
      <li class= "footer__contact flex ">
        <img src="img/svg/mail.svg" alt="Email" class="footer__icon">
        <a href="mailto:info@ipsum228.com" class="footer__link footer__text">info@ipsum228.com</a>
      </li>
      <li class="footer__contact flex">
        <img src="img/svg/vk.svg" alt="Вконтакте" class="footer__icon">
        <a href="#" class="footer__link footer__text">Мы вконтакте</a>
      </li>
    </ul>
  </div>
</footer>
