<footer class="footer flex">
  <div class="container footer__container flex">
    <div class="footer__copyright">
      <p class="footer__text">© 2018 <span class="footer__text--uppercase">«LoremIpsum.net» </span> Все права защищены.</p>
    </div>
    <ul class="footer__payments flex">
      <li class="footer__payment">
        <img class="footer__icon" src="img/svg/qiwi.svg" alt="Qiwi Wallet" >
        <span class="footer__text footer__text--accent-color ">Qiwi wallet</span>
      </li>
      <li class="footer__payment">
        <img class="footer__icon" src="img/svg/yandex.svg" alt="Yandex Money" >
        <span class="footer__text footer__text--accent-color ">Yandex Money</span>
      </li>
      <li class="footer__payment">
        <img class="footer__icon" src="img/svg/web-money.svg" alt="Web Money" >
        <span class="footer__text footer__text--accent-color ">Web Money</span>
      </li>
    </ul>
    <ul class="footer__contacts flex">
      <li class= "footer__contact flex ">
        <img class="footer__icon" src="img/svg/mail.svg" alt="Email" >
        <a class="footer__link footer__text" href="mailto:info@ipsum228.com" >info@ipsum228.com</a>
      </li>
      <li class="footer__contact flex">
        <img class="footer__icon" src="img/svg/vk.svg" alt="Вконтакте" >
        <a class="footer__link footer__text" href="#">Мы вконтакте</a>
      </li>
    </ul>
  </div>
</footer>
