<header class="header flex">
  <div class="container flex header__container">
    <a href="#" class="logo">
      <img class="logo__img" src="img/logo.png" alt="new site logo">
    </a>
    <nav class="nav flex" title="Main navigation" data-menu>
      <ul class="list-reset nav__list flex">
        <li class="nav__item"><a href="#" class="nav__link">Бизнес</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Оформить заказ</a></li>
      </ul>
    </nav>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
