<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Lorem ipsum <span class="hero__title--black-color">dolor sit ametconsectetur</span> adipiscing
      </h1>
      <div class="hero__text">
        <p class="hero__intro">At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
        <ul class="hero__list">
          <li class="hero__item flex">Totam rem aperiam eaque ipsa</li>
          <li class="hero__item flex">Sit voluptatem accusantium doloremque laudantium</li>
          <li class="hero__item flex">Sed ut perspiciatis, unde omnis iste natus error</li>
        </ul>
      </div>
      <div class="hero__btns flex">
        <a class="btn btn--blue" href="#" >Заказать</a>
        <a class="btn btn--white" href="#" >Подробнее</a>
      </div>
    </div>
  </div>
</section>

